@charset "utf-8";
/* CSS Document */

html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, blockquote{ margin:0; padding:0; font-size:12px;}
html *{ max-height:999999999px;}
body{ zoom:1; background:#f7eed1; font-family:"微软雅黑"; *font-family:"微软雅黑";}
img{ border:0 none; vertical-align:middle;}
ul, ol, li{ list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:14px;}
body, input, select, button, textarea{ font-size:12px; font-family:"微软雅黑"; *font-family:"微软雅黑";}
table, tr, th, td{ border-collapse:collapse;}
button{ cursor:pointer;}
i, em, cite, address{ font-style:normal;}
a{ color:#564224; text-decoration:none; outline:none; blr:expression(this.onFocus=this.blur());}
a:link{ text-decoration:none; cursor:pointer;}
a:hover, a:active{ text-decoration:none;}
a:focus{ outline:none;}
input{ outline:none;}

button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner{ border:none; padding:0;}
body{-webkit-tap-highlight-color:rgba(0,0,0,0)}

input[type="button"],
input[type="submit"],
input[type="reset"]{ -webkit-appearance:none;}

textarea{ -webkit-appearance:none;}

a,button,input,button,select,label{ -webkit-tap-highlight-color:rgba(255,0,0,0);}

/*返回顶部*/
.backToTop{ display:none; width:50px; height:50px; background:url("top.png")/*tpa=https://ziyan2017.gitee.io/ygsz/images/top.png*/; position:fixed; right:16px; bottom:60px; cursor:pointer; text-indent:-9999px; opacity:0.5; filter:Alpha(opacity=50);}
.backToTop:hover{ opacity:0.8; filter:Alpha(opacity=80);}